src/Dataverse/Tasks/ValidationSchema/Entity.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Entity">
		<xs:complexType>
			<xs:all>
				<xs:element name="Name" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="EntityNameType">
								<xs:attribute name="OriginalName" type="xs:string" use="required" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ObjectTypeCode" type="ObjectTypeCodeType" minOccurs="0" maxOccurs="1" />
				<xs:element name="EntityInfo" type="EntityInfoType" minOccurs="0" maxOccurs="1" />
				<!-- Force empty lement -->
				<xs:element name="FormXml" type="xs:string" fixed="" minOccurs="0" maxOccurs="1"/>
				<!-- Force empty lement -->
				<xs:element name="SavedQueries" type="xs:string" fixed="" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Visualizations" type="VisualizationsType" minOccurs="0" maxOccurs="1" />
				<xs:element name="RibbonDiffXml" type="RibbonEntityDiffXmlType" minOccurs="0" maxOccurs="1" />
				<xs:element name="Icons" type="IconsType" minOccurs="0" maxOccurs="1" />
				<xs:element name="Strings" type="StringsType" minOccurs="0" maxOccurs="1" />
				<xs:element name="HierarchyRules" type="HierarchyRulesType" minOccurs="0" maxOccurs="1" />
				<xs:element name="CustomControlDefaultConfigs" type="CustomControlDefaultConfigsType" minOccurs="0" maxOccurs="1" />
				<xs:element name="indexes" type="indexesType" minOccurs="0" maxOccurs="1" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="EntityInfoType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="entity">
				<xs:complexType>
					<xs:all>
						<xs:element name="EntitySetName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="ExternalName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="ExternalCollectionName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="HasRelatedNotes" type="TrueFalseType" minOccurs="0" maxOccurs="1" />
						<xs:element name="HasRelatedFeedback" type="TrueFalseType" minOccurs="0" maxOccurs="1" />
						<xs:element name="HasRelatedActivities" type="TrueFalseType" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsConnectionsEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsDocumentManagementEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsCollaboration" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="AutoRouteToOwnerQueue" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="AutoCreateAccessTeams" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="OwnershipTypeMask" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsAuditEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsActivity" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="ActivityTypeMask" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="DaysSinceRecordLastModified" type="xs:integer" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsActivityParty" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsReplicated" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsReplicationUserFiltered" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsRequiredOffline" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsDuplicateCheckSupported" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsBusinessProcessEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsInteractionCentricEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsMailMergeEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsVisibleInMobile" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="MobileClientType" type="xs:int" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsVisibleInMobileClient" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsReadOnlyInMobileClient" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsOfflineInMobileClient" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsReadingPaneEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsMapiGridEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsCustomizable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsRenameable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsMappable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyConnectionSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyAuditSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyMobileVisibility" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyMobileClientVisibility" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyMobileClientReadOnly" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyMobileClientOffline" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyDuplicateDetectionSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyMailMergeSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyQueueSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanCreateAttributes" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanBeRelatedEntityInRelationship" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanBePrimaryEntityInRelationship" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanBeInManyToMany" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanCreateForms" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanCreateCharts" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanCreateViews" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanModifyAdditionalSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="LocalizedNames" type="LocalizedNamesType" minOccurs="0" maxOccurs="1" />
						<xs:element name="LocalizedCollectionNames" type="LocalizedCollectionNamesType" minOccurs="0" maxOccurs="1" />
						<xs:element name="Descriptions" type="DescriptionsType" minOccurs="0" maxOccurs="1" />
						<xs:element name="EntityMask" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="EntityHelpUrlEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="EntityHelpUrl" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IconLargeName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IconMediumName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IconSmallName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IconVectorName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsQuickCreateEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IntroducedVersion" type="VersionType" minOccurs="0" maxOccurs="1" />
						<xs:element name="EnforceStateTransitions" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanChangeHierarchicalRelationship" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsKnowledgeManagementEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="EntityColor" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="ChangeTrackingEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanChangeTrackingBeEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsOneNoteIntegrationEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsDocumentRecommendationsEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsBPFEntity" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="DataProviderId" type="GuidType" minOccurs="0" maxOccurs="1" />
						<xs:element name="DataSourceId" type="GuidType" minOccurs="0" maxOccurs="1" />
						<xs:element name="SyncToExternalSearchIndex" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="CanEnableSyncToExternalSearchIndex" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsEnabledForExternalChannels" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsSLAEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="MobileOfflineFilters" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsRetrieveAuditEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsRetrieveMultipleAuditEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsSolutionAware" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="EntityKeys" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EntityKey" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:all>
												<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
												<xs:element name="LogicalName" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="IntroducedVersion" type="VersionType" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsCustomizable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="displaynames" type="displaynamestype" minOccurs="0" maxOccurs="1" />
												<xs:element name="EntityKeyAttributes" minOccurs="1" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AttributeName" type="EntityAttributeNameBaseType" minOccurs="1" maxOccurs="unbounded" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:all>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="attributes" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:all>
												<xs:element name="Type" type="CrmDataType" minOccurs="0" maxOccurs="1" />
												<xs:element name="Name" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="LogicalName" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="ExternalName" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsCustomField" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="ValidForCreateApi" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="ValidForReadApi" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="ValidForUpdateApi" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="DisplayMask" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="Length" type="LengthType" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsLogical" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="AttributeOf" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="YomiOf" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="CalculationOf" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="AggregateOf" type="EntityAttributeNameBaseType" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsAuditEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="XmlAbbreviation" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="ImeMode" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="RequiredLevel" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="LinkedAttribute" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="Format" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="MaxLength" type="xs:integer" minOccurs="0" maxOccurs="1" />
												<xs:element name="MinValue" type="xs:double" minOccurs="0" maxOccurs="1" />
												<xs:element name="MaxValue" type="xs:double" minOccurs="0" maxOccurs="1" />
												<xs:element name="Accuracy" type="xs:integer" minOccurs="0" maxOccurs="1" />
												<xs:element name="Descriptions" type="DescriptionsType" minOccurs="0" maxOccurs="1" />
												<xs:element name="displaynames" type="displaynamestype" minOccurs="0" maxOccurs="1" />
												<xs:element name="OptionSetName" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="optionset" type="optionsettype" minOccurs="0" maxOccurs="1" />
												<xs:element name="AppDefaultValue" type="xs:integer" minOccurs="0" maxOccurs="1" />
												<xs:element name="AccuracySource" type="xs:integer" minOccurs="0" maxOccurs="1" />
												<xs:element name="ReferencedEntityObjectTypeCode" type="ObjectTypeCodeType" minOccurs="0" maxOccurs="1" />
												<xs:element name="LookupBrowse" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="LookupStyle" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="LookupTypes" type="LookupTypesType" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsSecured" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsCustomizable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsRenameable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanModifySearchSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanModifyRequirementLevelSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanModifyFieldLevelSecuritySettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanModifyAdditionalSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IntroducedVersion" type="VersionType" minOccurs="0" maxOccurs="1" />
												<xs:element name="SourceType" type="xs:integer" minOccurs="0" maxOccurs="1" />
												<xs:element name="FormulaDefinitionFileName" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="Behavior" type="xs:integer" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanChangeDateTimeBehavior" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsGlobalFilterEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsSortableEnabled" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanModifyGlobalFilterSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="CanModifyIsSortableSettings" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsActive" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsDataSourceSecret" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="AutoNumberFormat" type="xs:string" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsSearchable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsFilterable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsRetrievable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
												<xs:element name="IsLocalizable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
											</xs:all>
											<xs:attribute name="PhysicalName" use="required" type="EntityAttributeNameBaseType" />
											<xs:attribute name="unmodified" use="optional" type="TrueFalse01Type" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
					<xs:attribute name="Name" use="required" type="EntityAttributeNameBaseType" />
					<xs:attribute name="unmodified" use="optional" type="TrueFalse01Type" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="EntityNameType">
		<xs:simpleContent>
			<xs:extension base="EntityAttributeNameBaseType">
				<xs:attribute name="LocalizedName" type="EntityAttributeLocalizedNameBaseType" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LocalizedCollectionNamesType">
		<xs:sequence>
			<xs:element name="LocalizedCollectionName" type="FieldXmlFieldUIType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomLabelsType">
		<xs:sequence>
			<xs:element name="CustomLabel" type="FieldXmlFieldUIType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LookupTypesType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="LookupType">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:integer">
							<xs:attribute name="id" type="xs:string" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EntityAttributeNameBaseType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntityAttributeLocalizedNameBaseType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VisualizationsType">
		<xs:choice maxOccurs="unbounded">
			<xs:sequence>
				<xs:element name="visualization" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="savedqueryvisualizationid" type="GuidType" minOccurs="1" maxOccurs="1" />
							<xs:element name="LocalizedNames" type="LocalizedNamesType" minOccurs="1" maxOccurs="1" />
							<xs:element name="Descriptions" type="DescriptionsType" minOccurs="0" maxOccurs="1" />
							<xs:element name="webresourcename" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="customizationlevel" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="formattedvalue" type="xs:integer" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="datadescription" minOccurs="0" maxOccurs="1">
								<xs:annotation></xs:annotation>
							</xs:element>
							<xs:element name="presentationdescription" minOccurs="0" maxOccurs="1">
								<xs:annotation></xs:annotation>
							</xs:element>
							<xs:element name="isdefault" type="SerializedTrueFalse01Type" minOccurs="0" maxOccurs="1" />
							<xs:element name="IsCustomizable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
							<xs:element name="IntroducedVersion" type="VersionType" minOccurs="0" maxOccurs="1" />
							<xs:element name="CanBeDeleted" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						</xs:all>
						<xs:attribute name="unmodified" use="optional" type="TrueFalse01Type" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IconsType">
		<xs:sequence>
			<xs:element name="Icon" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:base64Binary">
							<xs:attribute name="type" use="required" type="CrmEntityIconType" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StringsType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Strings" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="String" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="languagecode" use="required" type="xs:string" />
										<xs:attribute name="Comment" use="required" type="xs:string" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ResourceKey" use="required" type="xs:string" />
					<xs:attribute name="unmodified" use="optional" type="TrueFalse01Type" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="HierarchyRulesType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="HierarchyRule">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HierarchyRuleID" type="GuidType" minOccurs="1" maxOccurs="1" />
						<xs:element name="PrimaryEntityFormID" type="GuidType" minOccurs="1" maxOccurs="1" />
						<xs:element name="PrimaryEntityLogicalName" type="xs:string" minOccurs="1" maxOccurs="1" />
						<xs:element name="ShowDisabled" type="TrueFalse01Type" minOccurs="1" maxOccurs="1" />
						<xs:element name="IntroducedVersion" type="VersionType" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsCustomizable" type="TrueFalse01Type" minOccurs="0" maxOccurs="1" />
						<xs:element name="LocalizedNames" type="LocalizedNamesType" minOccurs="1" maxOccurs="1" />
						<xs:element name="Descriptions" type="DescriptionsType" minOccurs="0" maxOccurs="1" />
					</xs:sequence>
					<xs:attribute name="unmodified" use="optional" type="TrueFalse01Type" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="indexesType">
		<xs:sequence>
			<xs:element name="index" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IsClustered" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsUnique" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="IsPrimaryKey" type="xs:boolean" minOccurs="1" maxOccurs="1" />
						<xs:element name="IsUniqueConstraint" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="IndexType" type="xs:integer" minOccurs="0" maxOccurs="1" />
						<xs:element name="attributes" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="attribute" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="Name" use="required" type="xs:string" />
											<xs:attribute name="order" use="required" type="xs:string" />
											<xs:attribute name="IsIncludeAttribute" use="optional" type="xs:boolean" />
											<xs:attribute name="SortDescending" use="optional" type="xs:boolean" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="filters" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="filter" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="attribute" use="required" type="xs:string" />
											<xs:attribute name="operator" use="required" type="xs:string" />
											<xs:attribute name="value" use="optional" type="xs:string" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Name" use="required" type="xs:string" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CrmEntityIconType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GridIcon" />
			<xs:enumeration value="NavigationIcon" />
			<xs:enumeration value="OutlookShortcutIcon" />
			<xs:enumeration value="WatermarkIcon" />
			<xs:enumeration value="LargeEntityIcon" />
			<xs:enumeration value="VectorIcon" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
