src/Dataverse/Tasks/ValidationSchema/Ribbon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CrmRibbonCore"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root Element-->
	<xs:element name="RibbonDiffXml" type="RibbonGlobalDiffXmlType" />
	<xs:element name="CommandDefinitions" type="CommandDefinitionsType" />
	<xs:element name="RuleDefinitions" type="RuleDefinitionsGlobalType" />
	<xs:element name="Templates" type="TemplatesType" />
	<xs:element name="CustomActions" type="CustomActionsType" />

	<xs:element name="UI" type="CommandUIType">
	</xs:element>

	<!-- Element Types -->
	<xs:complexType name="RibbonEntityDiffXmlType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:sequence>
				<xs:element name="CustomActions" minOccurs="0" maxOccurs="1" type="CustomActionsType" />
				<xs:element name="Templates" type="TemplatesType" minOccurs="0" maxOccurs="1" />
				<xs:element name="CommandDefinitions" minOccurs="0" maxOccurs="1" type="CommandDefinitionsType" />
				<xs:element name="RuleDefinitions" minOccurs="0" maxOccurs="1" type="RuleDefinitionsEntityType" />
				<xs:element name="LocLabels" minOccurs="0" maxOccurs="1" type="RibbonLocLabelsType" />
			</xs:sequence>
			<xs:sequence>
				<xs:element name="RibbonNotSupported" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="RibbonGlobalDiffXmlType">
		<xs:sequence>
			<xs:element name="CustomActions" minOccurs="0" maxOccurs="1" type="CustomActionsType" />
			<xs:element name="Templates" type="TemplatesType" minOccurs="0" maxOccurs="1" />
			<xs:element name="CommandDefinitions" minOccurs="0" maxOccurs="1" type="CommandDefinitionsType" />
			<xs:element name="RuleDefinitions" minOccurs="0" maxOccurs="1" type="RuleDefinitionsGlobalType" />
			<xs:element name="LocLabels" minOccurs="0" maxOccurs="1" type="RibbonLocLabelsType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomActionsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="CustomAction" type="CustomActionType" />
			<xs:element name="HideCustomAction" type="HideCustomActionType" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="CustomActionType">
		<xs:sequence>
			<xs:element name="CommandUIDefinition" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Button" type="ButtonType" />
						<xs:element name="CheckBox" type="CheckBoxType" />
						<xs:element name="ComboBox" type="ComboBoxType" />
						<xs:element name="ColorPicker" type="ColorPickerType" />
						<xs:element name="ContextualGroup" type="ContextualGroupType" />
						<!-- <xs:element name="ContextualTabs" type="ContextualTabsType" /> -->
						<xs:element name="Controls" type="ControlsType" />
						<xs:element name="DropDown" type="DropDownType" />
						<xs:element name="FlyoutAnchor" type="FlyoutAnchorType" />
						<xs:element name="Gallery" type="GalleryType" />
						<xs:element name="GalleryButton" type="GalleryButtonType" />
						<xs:element name="GroupTemplate" type="GroupTemplateType" />
						<xs:element name="Group" type="GroupType" />
						<xs:element name="Groups" type="GroupsType" />
						<xs:element name="InsertTable" type="InsertTableType" />
						<!-- <xs:element name="Jewel" type="JewelType" /> -->
						<xs:element name="Label" type="LabelType" />
						<xs:element name="MRUSplitButton" type="MRUSplitButtonType" />
						<xs:element name="MaxSize" type="MaxSizeType" />
						<xs:element name="Menu" type="MenuType" />
						<xs:element name="MenuSection" type="MenuSectionType" />
						<!-- <xs:element name="QAT" type="QATType" /> -->
						<!-- <xs:element name="Ribbon" type="RibbonType" /> -->
						<xs:element name="Scale" type="ScaleType" />
						<xs:element name="Scaling" type="ScalingType" />
						<xs:element name="Spinner" type="SpinnerType" />
						<xs:element name="SplitButton" type="SplitButtonType" />
						<xs:element name="Tab" type="TabType" />
						<!-- <xs:element name="Tabs" type="TabsType" /> -->
						<xs:element name="TextBox" type="TextBoxType" />
						<xs:element name="ToggleButton" type="ToggleButtonType" />
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" />
		<xs:attribute name="Location" type="xs:string" />
		<xs:attribute name="Sequence" type="xs:int" />
		<xs:attribute name="Title" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="HideCustomActionType">
		<xs:attribute name="HideActionId" type="xs:string" />
		<xs:attribute name="Location" type="xs:string" />
		<xs:attribute name="Sequence" type="xs:int" />
		<xs:attribute name="Title" type="xs:string" />
	</xs:complexType>


	<!-- Command Definition Types -->
	<xs:complexType name="ActionsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="JavaScriptFunction" type="JavaScriptFunctionType" />
			<xs:element name="Url" type="UrlType" />
			<xs:element name="OutlookCommand" type="OutlookCommandType" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CommandDefinitionsType">
		<xs:sequence>
			<xs:element name="CommandDefinition" type="CommandDefinitionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommandDefinitionType">
		<xs:sequence>
			<xs:element name="EnableRules" type="ReferenceEnableRulesType" minOccurs="1" maxOccurs="1" />
			<xs:element name="DisplayRules" type="ReferenceDisplayRulesType" minOccurs="1" maxOccurs="1" />
			<xs:element name="Actions" type="ActionsType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="JavaScriptFunctionType">
		<xs:sequence>
			<xs:group ref="ParameterType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="FunctionName" type="JavaScriptIdentifier" use="required" />
		<xs:attribute name="Library" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="OutlookCommandType">
		<xs:attribute name="ActionType" type="OutlookActionType" use="required" />
		<xs:attribute name="Data" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:complexType name="ReferenceEnableRulesType">
		<xs:sequence>
			<xs:element name="EnableRule" type="ReferenceEnableRuleType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceDisplayRulesType">
		<xs:sequence>
			<xs:element name="DisplayRule" type="ReferenceDisplayRuleType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceEnableRuleType">
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="ReferenceDisplayRuleType">
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="UrlType">
		<xs:sequence>
			<xs:group ref="NamedParameterType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Address" type="xs:anyURI" use="required" />
		<xs:attribute name="WinMode" type="WinMode" use="optional" />
		<xs:attribute name="WinParams" type="xs:string" use="optional" />
		<xs:attribute name="PassParams" type="xs:boolean" use="optional" />
	</xs:complexType>

	<!-- Command Value Restrictions -->
	<xs:simpleType name="JavaScriptIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_$][a-zA-Z_$0-9.]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OutlookActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CheckForUpdates" />
			<xs:enumeration value="ConfigWizard" />
			<xs:enumeration value="GoTo" />
			<xs:enumeration value="GoOffline" />
			<xs:enumeration value="Help" />
			<xs:enumeration value="OpenOlkForm" />
			<xs:enumeration value="Promote" />
			<xs:enumeration value="SetRegarding" />
			<xs:enumeration value="Settings" />
			<xs:enumeration value="SignOut" />
			<xs:enumeration value="SignOutForgetMe" />
			<xs:enumeration value="OutlookImport" />
			<xs:enumeration value="Sync" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WinMode">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="2" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Rule Container Types -->
	<xs:complexType name="RuleDefinitionsEntityType">
		<xs:sequence>
			<xs:element name="TabDisplayRules" type="TabDisplayRulesEntityType" minOccurs="1" maxOccurs="1" />
			<xs:element name="DisplayRules" type="DisplayRulesType" minOccurs="1" maxOccurs="1" />
			<xs:element name="EnableRules" type="EnableRulesType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RuleDefinitionsGlobalType">
		<xs:sequence>
			<xs:element name="TabDisplayRules" type="TabDisplayRulesGlobalType" minOccurs="1" maxOccurs="1" />
			<xs:element name="DisplayRules" type="DisplayRulesType" minOccurs="1" maxOccurs="1" />
			<xs:element name="EnableRules" type="EnableRulesType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnableRulesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="EnableRule">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="EnableRulesGroup" />
						<xs:element name="OrRule" type="OrEnableRuleType" />
					</xs:choice>
					<xs:attribute name="Id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrEnableRuleType">
		<xs:sequence minOccurs="2" maxOccurs="unbounded">
			<xs:element name="Or">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="EnableRulesGroup" />
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:group name="EnableRulesGroup">
		<xs:choice>
			<xs:element name="CrmClientTypeRule" type="CrmClientTypeRuleType" />
			<xs:element name="CrmOutlookClientTypeRule" type="CrmOutlookClientTypeRuleType" />
			<xs:element name="CrmOfflineAccessStateRule" type="CrmOfflineAccessStateRuleType" />
			<xs:element name="CustomRule" type="CustomRuleType" />
			<xs:element name="EntityRule" type="EntityRuleType" />
			<xs:element name="FormStateRule" type="FormStateRuleType" />
			<xs:element name="OutlookItemTrackingRule" type="OutlookItemTrackingRuleType" />
			<xs:element name="OutlookVersionRule" type="OutlookVersionRuleType" />
			<xs:element name="PageRule" type="PageRuleType" />
			<xs:element name="RecordPrivilegeRule" type="RecordPrivilegeRuleType" />
			<xs:element name="SelectionCountRule" type="SelectionCountRuleType" />
			<xs:element name="SkuRule" type="SkuRuleType" />
			<xs:element name="ValueRule" type="ValueRuleType" />
			<xs:element name="CommandClientTypeRule" type="CommandClientTypeRuleType" />
		</xs:choice>
	</xs:group>

	<xs:complexType name="TabDisplayRulesEntityType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TabDisplayRule">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element name="EntityRule" type="EntityTabRuleType" />
					</xs:choice>
					<xs:attribute name="TabCommand" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TabDisplayRulesGlobalType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TabDisplayRule">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element name="EntityRule" type="EntityTabRuleType" />
						<xs:element name="PageRule" type="PageTabRuleType" />
					</xs:choice>
					<xs:attribute name="TabCommand" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DisplayRulesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DisplayRule">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="DisplayRulesGroup" />
						<xs:element name="OrRule" type="OrDisplayRuleType" />
					</xs:choice>
					<xs:attribute name="Id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrDisplayRuleType">
		<xs:sequence minOccurs="2" maxOccurs="unbounded">
			<xs:element name="Or">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:group ref="DisplayRulesGroup" />
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:group name="DisplayRulesGroup">
		<xs:choice>
			<xs:element name="CrmClientTypeRule" type="CrmClientTypeRuleType" />
			<xs:element name="CommandClientTypeRule" type="CommandClientTypeRuleType" />
			<xs:element name="DeviceTypeRule" type="DeviceTypeRuleType" />
			<xs:element name="CrmOutlookClientTypeRule" type="CrmOutlookClientTypeRuleType" />
			<xs:element name="CrmOutlookClientVersionRule" type="CrmOutlookClientVersionRuleType" />
			<xs:element name="CrmOfflineAccessStateRule" type="CrmOfflineAccessStateRuleType" />
			<xs:element name="EntityRule" type="EntityRuleType" />
			<xs:element name="EntityPrivilegeRule" type="EntityPrivilegeRuleType" />
			<xs:element name="EntityPropertyRule" type="EntityPropertyRuleType" />
			<xs:element name="FormEntityContextRule" type="FormEntityContextRuleType" />
			<xs:element name="FormStateRule" type="FormStateRuleType" />
			<xs:element name="MiscellaneousPrivilegeRule" type="MiscellaneousPrivilegeRuleType" />
			<xs:element name="OrganizationSettingRule" type="OrganizationSettingRuleType" />
			<xs:element name="OutlookRenderTypeRule" type="OutlookRenderTypeRuleType" />
			<xs:element name="OutlookVersionRule" type="OutlookVersionRuleType" />
			<xs:element name="PageRule" type="PageRuleType" />
			<xs:element name="ReferencingAttributeRequiredRule" type="ReferencingAttributeRequiredRuleType" />
			<xs:element name="RelationshipTypeRule" type="RelationshipTypeRuleType" />
			<xs:element name="SkuRule" type="SkuRuleType" />
			<xs:element name="ValueRule" type="ValueRuleType" />
			<xs:element name="OptionSetRule" type ="OptionSetRuleType" />
			<xs:element name="FormTypeRule" type ="FormTypeRuleType" />
			<xs:element name="HideForTabletExperienceRule" type ="HideForTabletExperienceRuleType" />
			<xs:element name="HideIfNetBreezeNotAvailableRule" type ="HideIfNetBreezeNotAvailableRuleType" />
			<xs:element name="HideIfServiceMetadataAvailableRule" type ="HideIfServiceMetadataAvailableRuleType" />
			<xs:element name="HideIfSharepointS2SConfigurationEnabledRule" type ="HideIfSharepointS2SConfigurationEnabledRuleType" />
			<xs:element name="HideIfExportToExcelNotEnabledRule" type="HideIfExportToExcelNotEnabledRuleType" />
			<xs:element name="IsExportToExcelOnlineEnabledRule" type="IsExportToExcelOnlineEnabledRuleType" />
			<xs:element name="HideIfDisabledForMobileRule" type="HideIfDisabledForMobileRuleType" />
			<xs:element name="HideIfHybridSSSNotEnabledRule" type="HideIfHybridSSSNotEnabledRuleType" />
			<xs:element name="HideIfEmailSignatureNotEnabledRule" type="HideIfEmailSignatureNotEnabledRuleType" />
			<xs:element name="HideIfReverseHybridSSSNotEnabledRule" type="HideIfReverseHybridSSSNotEnabledRuleType" />
			<xs:element name="FeatureControlRule" type="FeatureControlRuleType" />
			<xs:element name="HideIfDelveNotAvailableRule" type ="HideIfDelveNotAvailableRuleType" />
			<xs:element name="HideIfTestExchangeServerNotEnabledRule" type="HideIfTestExchangeServerNotEnabledRuleType" />
			<xs:element name="HideIfSSSTroubleshootingNotEnabledRule" type="HideIfSSSTroubleshootingNotEnabledRuleType" />
			<xs:element name="HideIfCurrentUserIsNotSystemAdministratorRule" type="HideIfCurrentUserIsNotSystemAdministratorRuleType" />
			<xs:element name="HideIfPowerBITileNotAvailableRule" type ="HideIfPowerBITileNotAvailableRuleType" />
			<xs:element name="HideIfProcessActiveRule" type="HideIfProcessActiveRuleType" />
			<xs:element name="HideIfProcessInactiveRule" type="HideIfProcessInactiveRuleType" />
			<xs:element name="HideIfProcessUnificationIsDisabledRule" type="HideIfProcessUnificationIsDisabledRuleType" /> 
			<xs:element name="HideIfO365UserDoesNotHaveExchangeSubscriptionsRule" type ="HideIfO365UserDoesNotHaveExchangeSubscriptionsRuleType" />
			<xs:element name="HideIfEmailIsApprovedByAdminRule" type ="HideIfEmailIsApprovedByAdminType" />
			<xs:element name="HideIfUserIsNotTenantAdminRule" type ="HideIfUserIsNotTenantAdminType" />
			<xs:element name="HideIfEmailIsApprovedByAdminBasedOnESPRule" type ="HideIfEmailIsApprovedByAdminBasedOnESPRuleType" />
			<xs:element name="HideIfProductRecommendationsNotEnabledRule" type ="HideIfProductRecommendationsNotEnabledType" />
		</xs:choice>
	</xs:group>

	<!-- Rule Types -->
	<xs:complexType name="CrmClientTypeRuleType">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Web" />
					<xs:enumeration value="Outlook" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="CommandClientTypeRuleType">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Modern" />
					<xs:enumeration value="Refresh" />
					<xs:enumeration value="Legacy" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="DeviceTypeRuleType">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="None" />
					<xs:enumeration value="Phone" />
					<xs:enumeration value="Tablet" />
					<xs:enumeration value="Web" />
					<xs:enumeration value="Outlook" />
					<xs:enumeration value="InteractionCentric" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="CrmOfflineAccessStateRuleType">
		<xs:attribute name="State" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Online" />
					<xs:enumeration value="Offline" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="CrmOutlookClientTypeRuleType">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CrmForOutlook" />
					<xs:enumeration value="CrmForOutlookOfflineAccess" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="OptionSetRuleType">
		<xs:attribute name="OptionSet" type="xs:string" use="required"/>
		<xs:attribute name="StateCode" type="xs:string" use="required"/>
		<xs:attribute name="ObjectTypeCode" type="xs:string" use="required"/>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="CustomRuleType">
		<xs:sequence>
			<xs:group ref="ParameterType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="FunctionName" type="JavaScriptIdentifier" use="required" />
		<xs:attribute name="Library" type="xs:string" use="required" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="EntityRuleType">
		<xs:attributeGroup ref="EntityRuleTypeAttributes" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	<xs:complexType name="EntityTabRuleType">
		<xs:attributeGroup ref="EntityRuleTypeAttributes" />
	</xs:complexType>
	<xs:attributeGroup name="EntityRuleTypeAttributes">
		<xs:attribute name="EntityName" type="xs:string" use="optional" />
		<xs:attribute name="AppliesTo" type="AppliesToType" use="optional" />
		<xs:attribute name="Context" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z_][a-zA-Z_0-9]*" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:complexType name="EntityPropertyRuleType">
		<xs:attribute name="EntityName" type="xs:string" use="optional" />
		<xs:attribute name="AppliesTo" type="AppliesToType" use="optional" />
		<xs:attribute name="PropertyName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="DuplicateDetectionEnabled" />
					<xs:enumeration value="GridFiltersEnabled" />
					<xs:enumeration value="HasStateCode" />
					<xs:enumeration value="IsConnectionsEnabled" />
					<xs:enumeration value="MailMergeEnabled" />
					<xs:enumeration value="WorksWithQueue" />
					<xs:enumeration value="HasActivities" />
					<xs:enumeration value="IsActivity" />
					<xs:enumeration value="HasNotes" />
					<xs:enumeration value="IsCustomizable" />
					<xs:enumeration value="IsActivityParty" />
					<xs:enumeration value="HasEmailAddresses" />
					<xs:enumeration value="IsChildEntity" />
					<xs:enumeration value="IsImportable" />
					<xs:enumeration value="IsEnabledForCharts" />
					<xs:enumeration value="IsBusinessProcessEnabled" />
					<xs:enumeration value="HasFeedback" />
					<xs:enumeration value="IsBPFEntity" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PropertyValue" type="xs:boolean" use="required" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="FormEntityContextRuleType">
		<xs:attribute name="EntityName" type="xs:string" use="required" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="FormStateRuleType">
		<xs:attribute name="State" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Create" />
					<xs:enumeration value="Existing" />
					<xs:enumeration value="ReadOnly" />
					<xs:enumeration value="Disabled" />
					<xs:enumeration value="BulkEdit" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="OrganizationSettingRuleType">
		<xs:attribute name="Setting" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="IsSharepointEnabled" />
					<xs:enumeration value="IsSOPIntegrationEnabled" />
					<xs:enumeration value="IsFiscalCalendarDefined" />
					<xs:enumeration value="IsReadFormModeDefined" />
					<xs:enumeration value="IsBPFEntityCustomizationFeatureEnabled" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="FormTypeRuleType">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Main" />
					<xs:enumeration value="Preview" />
					<xs:enumeration value="AppointmentBook" />
					<xs:enumeration value="Dashboard" />
					<xs:enumeration value="Quick" />
					<xs:enumeration value="QuickCreate" />
					<xs:enumeration value="Card" />
					<xs:enumeration value="MainInteractionCentric" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideForTabletExperienceRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfNetBreezeNotAvailableRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfDisabledForMobileRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfServiceMetadataAvailableRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfSharepointS2SConfigurationEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfExportToExcelNotEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="IsExportToExcelOnlineEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfDelveNotAvailableRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfPowerBITileNotAvailableRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfProcessActiveRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfProcessInactiveRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfProcessUnificationIsDisabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfO365UserDoesNotHaveExchangeSubscriptionsRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfEmailIsApprovedByAdminBasedOnESPRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfSSSTroubleshootingNotEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfCurrentUserIsNotSystemAdministratorRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfHybridSSSNotEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfEmailSignatureNotEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfReverseHybridSSSNotEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfEmailIsApprovedByAdminType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfUserIsNotTenantAdminType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="HideIfProductRecommendationsNotEnabledType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="HideIfTestExchangeServerNotEnabledRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="OutlookItemTrackingRuleType">
		<xs:attribute name="TrackedInCrm" type="xs:boolean" use="required" />
		<xs:attribute name="AppliesTo" type="AppliesToPrimaryType" use="optional" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="OutlookRenderTypeRuleType">
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Web" />
					<xs:enumeration value="Outlook" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="OutlookVersionRuleType">
		<xs:attribute name="Version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="2003" />
					<xs:enumeration value="2007" />
					<xs:enumeration value="2010" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="CrmOutlookClientVersionRuleType">
		<xs:attribute name="Major" type="xs:integer" use="required"/>
		<xs:attribute name="Minor" type="xs:integer" use="optional"/>
		<xs:attribute name="Build" type="xs:integer" use="optional"/>
		<xs:attribute name="Revision" type="xs:integer" use="optional"/>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="PageRuleType">
		<xs:attribute name="Address" type="xs:anyURI" use="required" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	<xs:complexType name="PageTabRuleType">
		<xs:attribute name="Address" type="xs:anyURI" use="required" />
	</xs:complexType>

	<xs:complexType name="RecordPrivilegeRuleType">
		<xs:attribute name="PrivilegeType" type="PrivilegeTypeType" use="required" />
		<xs:attribute name="AppliesTo" type="AppliesToPrimaryType" use="optional" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	<xs:complexType name="EntityPrivilegeRuleType">
		<xs:attribute name="PrivilegeType" type="PrivilegeTypeType" use="required" />
		<xs:attribute name="PrivilegeDepth" type="PrivilegeDepthType" use="required" />
		<xs:attribute name="AppliesTo" type="AppliesToType" use="optional" />
		<xs:attribute name="EntityName" type="xs:string" use="optional" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="MiscellaneousPrivilegeRuleType">
		<xs:attribute name="PrivilegeName" type="xs:string" use="required" />
		<xs:attribute name="PrivilegeDepth" type="PrivilegeDepthType" use="optional" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="ReferencingAttributeRequiredRuleType">
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="RelationshipTypeRuleType">
		<xs:attribute name="AppliesTo" type="AppliesToSelectedType" use="required" />
		<xs:attribute name="RelationshipType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OneToMany" />
					<xs:enumeration value="ManyToMany" />
					<xs:enumeration value="NoRelationship" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AllowCustomRelationship" use="optional" type="xs:boolean" default="true" />
		<xs:attribute name="AllowSystemRelationship" use="optional" type="xs:boolean" default="true" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="SelectionCountRuleType">
		<xs:attribute name="AppliesTo" type="AppliesToType" use="optional" />
		<xs:attribute name="Minimum" type="xs:integer" use="optional" />
		<xs:attribute name="Maximum" type="xs:integer" use="optional" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="SkuRuleType">
		<xs:attribute name="Sku" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OnPremise" />
					<xs:enumeration value="Online" />
					<xs:enumeration value="Spla" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<xs:complexType name="ValueRuleType">
		<xs:attribute name="Field" type="xs:string" use="required" />
		<xs:attribute name="Value" type="xs:string" use="required" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>
	
	<xs:complexType name="FeatureControlRuleType">
		<xs:attribute name="FeatureControlBit" type="xs:string" use="required" />
		<xs:attribute name="ExpectedValue" type="xs:boolean" use="required" />
		<xs:attributeGroup ref="StandardRuleAttributes" />
	</xs:complexType>

	<!-- Rule Attributes -->
	<xs:attributeGroup name="StandardRuleAttributes">
		<xs:attribute name="Default" type="xs:boolean" use="optional" />
		<xs:attribute name="InvertResult" type="xs:boolean" use="optional" />
	</xs:attributeGroup>

	<!-- Rule Value Restrictions -->
	<xs:simpleType name="AppliesToType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PrimaryEntity" />
			<xs:enumeration value="SelectedEntity" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppliesToPrimaryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PrimaryEntity" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppliesToSelectedType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SelectedEntity" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PrivilegeDepthType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None" />
			<xs:enumeration value="Basic" />
			<xs:enumeration value="Local" />
			<xs:enumeration value="Deep" />
			<xs:enumeration value="Global" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrivilegeTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Create" />
			<xs:enumeration value="Read" />
			<xs:enumeration value="Write" />
			<xs:enumeration value="Delete" />
			<xs:enumeration value="Assign" />
			<xs:enumeration value="Share" />
			<xs:enumeration value="Append" />
			<xs:enumeration value="AppendTo" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Parameter Types -->
	<xs:group name="ParameterType">
		<xs:choice>
			<xs:element name="BoolParameter" type="BoolParameterType" />
			<xs:element name="CrmParameter" type="CrmParameterType" />
			<xs:element name="DecimalParameter" type="DecimalParameterType" />
			<xs:element name="IntParameter" type="IntParameterType" />
			<xs:element name="StringParameter" type="StringParameterType" />
		</xs:choice>
	</xs:group>
	<xs:group name="NamedParameterType">
		<xs:choice>
			<xs:element name="BoolParameter" type="BoolNamedParameterType" />
			<xs:element name="CrmParameter" type="CrmNamedParameterType" />
			<xs:element name="DecimalParameter" type="DecimalNamedParameterType" />
			<xs:element name="IntParameter" type="IntNamedParameterType" />
			<xs:element name="StringParameter" type="StringNamedParameterType" />
		</xs:choice>
	</xs:group>
	<xs:complexType name="BoolParameterType">
		<xs:attribute name="Value" type="xs:boolean" use="required" />
	</xs:complexType>
	<xs:complexType name="BoolNamedParameterType">
		<xs:attribute name="Value" type="xs:boolean" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="CrmParameterType">
		<xs:attribute name="Value" type="CrmParameterValue" use="required" />
	</xs:complexType>
	<xs:complexType name="CrmNamedParameterType">
		<xs:attribute name="Value" type="CrmNamedParameterValue" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="DecimalParameterType">
		<xs:attribute name="Value" type="xs:decimal" use="required" />
	</xs:complexType>
	<xs:complexType name="DecimalNamedParameterType">
		<xs:attribute name="Value" type="xs:decimal" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="IntParameterType">
		<xs:attribute name="Value" type="xs:integer" use="required" />
	</xs:complexType>
	<xs:complexType name="IntNamedParameterType">
		<xs:attribute name="Value" type="xs:integer" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="StringParameterType">
		<xs:attribute name="Value" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="StringNamedParameterType">
		<xs:attribute name="Value" type="xs:string" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>

	<xs:simpleType name="CrmParameterValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PrimaryEntityTypeCode" />
			<xs:enumeration value="PrimaryEntityTypeName" />
			<xs:enumeration value="PrimaryItemIds" />
			<xs:enumeration value="FirstPrimaryItemId" />
			<xs:enumeration value="PrimaryControl" />
			<xs:enumeration value="PrimaryControlId" />
			<xs:enumeration value="SelectedEntityTypeCode" />
			<xs:enumeration value="SelectedEntityTypeName" />
			<xs:enumeration value="FirstSelectedItemId" />
			<xs:enumeration value="SelectedControl" />
			<xs:enumeration value="SelectedControlSelectedItemCount" />
			<xs:enumeration value="SelectedControlSelectedItemIds" />
			<xs:enumeration value="SelectedControlSelectedItemReferences" />
			<xs:enumeration value="SelectedControlAllItemCount" />
			<xs:enumeration value="SelectedControlAllItemIds" />
			<xs:enumeration value="SelectedControlAllItemReferences" />
			<xs:enumeration value="SelectedControlUnselectedItemCount" />
			<xs:enumeration value="SelectedControlUnselectedItemIds" />
			<xs:enumeration value="SelectedControlUnselectedItemReferences" />
			<xs:enumeration value="OrgName" />
			<xs:enumeration value="OrgLcid" />
			<xs:enumeration value="UserLcid" />
			<xs:enumeration value="CommandProperties" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CrmNamedParameterValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PrimaryEntityTypeCode" />
			<xs:enumeration value="PrimaryEntityTypeName" />
			<xs:enumeration value="PrimaryItemIds" />
			<xs:enumeration value="FirstPrimaryItemId" />
			<xs:enumeration value="PrimaryControl" />
			<xs:enumeration value="PrimaryControlId" />
			<xs:enumeration value="SelectedEntityTypeCode" />
			<xs:enumeration value="SelectedEntityTypeName" />
			<xs:enumeration value="FirstSelectedItemId" />
			<xs:enumeration value="SelectedControl" />
			<xs:enumeration value="SelectedControlSelectedItemCount" />
			<xs:enumeration value="SelectedControlSelectedItemIds" />
			<xs:enumeration value="SelectedControlAllItemCount" />
			<xs:enumeration value="SelectedControlAllItemIds" />
			<xs:enumeration value="SelectedControlUnselectedItemCount" />
			<xs:enumeration value="SelectedControlUnselectedItemIds" />
			<xs:enumeration value="OrgName" />
			<xs:enumeration value="OrgLcid" />
			<xs:enumeration value="UserLcid" />
			<xs:enumeration value="CommandProperties" />
		</xs:restriction>
	</xs:simpleType>

	<!-- LocLabels Types -->
	<xs:complexType name="RibbonLocLabelsType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="LocLabel" type="RibbonLocLabelType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RibbonLocLabelType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Titles" type="RibbonTitlesType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="RibbonTitlesType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Title" type="RibbonTitleType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RibbonTitleType">
		<xs:attribute name="description" type="xs:string" use="required" />
		<xs:attribute name="languagecode" type="xs:int" use="required" />
	</xs:complexType>

	<xs:simpleType name="AltType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ClassNameType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ContextualColorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="DarkBlue" />
      <xs:enumeration value="LightBlue" />
      <xs:enumeration value="Teal" />
      <xs:enumeration value="Orange" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="Magenta" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Purple" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CommandType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="CommandTypeType">
    <xs:restriction base="xs:string" >
      <xs:enumeration value="General" />
      <xs:enumeration value="OptionSelection" />
      <xs:enumeration value="IgnoredByMenu" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DescriptionType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="DisplayModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Small" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Large" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Menu" />
      <xs:enumeration value="Menu16" />
      <xs:enumeration value="Menu32" />
      <xs:enumeration value="Thin" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ElementDimensionsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Size16by16" />
      <xs:enumeration value="Size32by32" />
      <xs:enumeration value="Size48by48" />
      <xs:enumeration value="Size64by48" />
      <xs:enumeration value="Size72by96" />
      <xs:enumeration value="Size96by72" />
      <xs:enumeration value="Size96by96" />
      <xs:enumeration value="Size128by128" />
      <xs:enumeration value="Size190by30" />
      <xs:enumeration value="Size190by40" />
      <xs:enumeration value="Size190by50" />
      <xs:enumeration value="Size190by60" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HTMLType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="IdType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ImageClassType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ImagePositionType">
    <xs:restriction base="xs:nonPositiveInteger" />
  </xs:simpleType>

  <xs:simpleType name="ImageUrlType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="LabelCssType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="LabelTextType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="MenuItemIdType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ModernCommandTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ControlCommand" />
      <xs:enumeration value="System" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PixelLengthType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="SectionTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Divider" />
      <xs:enumeration value="OneRow" />
      <xs:enumeration value="TwoRow" />
      <xs:enumeration value="ThreeRow" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SectionAlignmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Middle" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SequenceType">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>

  <xs:simpleType name="PriorityType">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>

  <xs:simpleType name="SizeType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="TemplateType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="TemplateAliasType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="TextDirectionType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="TitleType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>      
  
  <xs:simpleType name="UnitNameType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ValueType">
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>

  <xs:complexType name="ButtonType">
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandType" type="CommandTypeType" />
    <xs:attribute name="CommandValueId" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Image32by32" type="ImageUrlType" />
    <xs:attribute name="Image32by32Class" type="ImageClassType" />
    <xs:attribute name="Image32by32Left" type="ImagePositionType" />
    <xs:attribute name="Image32by32Top" type="ImagePositionType" />
    <xs:attribute name="Image16by16" type="ImageUrlType" />
    <xs:attribute name="Image16by16Class" type="ImageClassType" />
    <xs:attribute name="Image16by16Left" type="ImagePositionType" />
    <xs:attribute name="Image16by16Top" type="ImagePositionType" />
    <xs:attribute name="LabelCss" type="LabelCssType" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="MenuItemId" type="MenuItemIdType" />
    <xs:attribute name="ModernCommandType" type="ModernCommandTypeType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Priority" type="PriorityType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="ModernImage" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="CheckBoxType">
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="MenuItemId" type="MenuItemIdType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ColorPickerType">
    <xs:sequence>
      <xs:element name="Colors" type="ColorStylesType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandRevert" type="CommandType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
  </xs:complexType>

  <xs:complexType name="ColorStylesType">
    <xs:sequence>
      <xs:element name="Color" type="ColorStyleType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorStyleType">
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Title" type="AltType" />
    <xs:attribute name="Style" type="xs:string" />
    <xs:attribute name="Color" type="xs:string" />
    <xs:attribute name="DisplayColor" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ComboBoxType">
    <xs:sequence>
      <xs:element name="Menu" type="MenuType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="AllowFreeForm" type="xs:boolean" default="false" />
    <xs:attribute name="AltArrow" type="AltType" />
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="AutoComplete" type="xs:boolean" default="true" />
    <xs:attribute name="AutoCompleteDelay" type="xs:integer" default="100" />
    <xs:attribute name="CacheMenuVersions" type="xs:boolean" default="false" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandMenuOpen" type="CommandType" />
    <xs:attribute name="CommandMenuClose" type="CommandType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandPreviewRevert" type="CommandType" />
    <xs:attribute name="ImeEnabled" type="xs:boolean" />
    <xs:attribute name="InitialItem" type="MenuItemIdType"/>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="PopulateDynamically" type="xs:boolean" default="false" />
    <xs:attribute name="PopulateQueryCommand" type="CommandType" />
    <xs:attribute name="PopulateOnlyOnce" type="xs:boolean" default="false" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitle" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="Width" type="PixelLengthType" />
  </xs:complexType>

  <xs:complexType name="CommandUIType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="Ribbon" type="RibbonType" minOccurs="0" maxOccurs="1" />
        <xs:element name="QAT" type="QATType" minOccurs="0" maxOccurs="1" />
        <xs:element name="Jewel" type="JewelType" minOccurs="0" maxOccurs="1" />
        <xs:element name="Templates" type="TemplatesType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="CommandUI" type="CommandUIType">
  </xs:element>

  <xs:complexType name="ContextualGroupType">
    <xs:sequence>
      <xs:element name="Tab" type="TabType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Color" type="ContextualColorType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="ContextualGroupId" type="xs:string" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Title" type="TitleType" />
  </xs:complexType>

  <xs:complexType name="ContextualTabsType">
    <xs:sequence>
      <xs:element name="ContextualGroup" type="ContextualGroupType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
  </xs:complexType>

  <xs:complexType name="ControlRefType">
    <xs:attribute name="DisplayMode" type="DisplayModeType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
  </xs:complexType>

  <xs:complexType name="ControlsType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Button" type="ButtonType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="CheckBox" type="CheckBoxType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ComboBox" type="ComboBoxType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="DropDown" type="DropDownType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="FlyoutAnchor" type="FlyoutAnchorType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GalleryButton" type="GalleryButtonType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Label" type="LabelType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="MRUSplitButton" type="MRUSplitButtonType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Spinner" type="SpinnerType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="SplitButton" type="SplitButtonType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="TextBox" type="TextBoxType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ToggleButton" type="ToggleButtonType" minOccurs="0" maxOccurs="unbounded" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitle" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="DropDownType">
    <xs:sequence>
      <xs:element name="Menu" type="MenuType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="AltArrow" type="AltType" />
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="CacheMenuVersions" type="xs:boolean" default="false" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandMenuOpen" type="CommandType" />
    <xs:attribute name="CommandMenuClose" type="CommandType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandPreviewRevert" type="CommandType" />
    <xs:attribute name="InitialItem" type="MenuItemIdType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="PopulateDynamically" type="xs:boolean" default="false" />
    <xs:attribute name="PopulateQueryCommand" type="CommandType" />
    <xs:attribute name="PopulateOnlyOnce" type="xs:boolean" default="false" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitle" type="xs:string" />
    <xs:attribute name="Width" type="PixelLengthType" />
    <xs:attribute name="SelectedItemDisplayMode" type="DisplayModeType" />
  </xs:complexType>

  <xs:complexType name="FlyoutAnchorType">
    <xs:sequence>
      <xs:element name="Menu" type="MenuType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="CacheMenuVersions" type="xs:boolean" default="false" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandType" type="CommandTypeType" />
    <xs:attribute name="CommandMenuClose" type="CommandType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Image16by16" type="ImageUrlType" />
    <xs:attribute name="Image16by16Class" type="ImageClassType" />
    <xs:attribute name="Image16by16Left" type="ImagePositionType" />
    <xs:attribute name="Image16by16Top" type="ImagePositionType" />
    <xs:attribute name="Image32by32" type="ImageUrlType" />
    <xs:attribute name="Image32by32Class" type="ImageClassType" />
    <xs:attribute name="Image32by32Left" type="ImagePositionType" />
    <xs:attribute name="Image32by32Top" type="ImagePositionType" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="ModernCommandType" type="ModernCommandTypeType" />
    <xs:attribute name="PopulateDynamically" type="xs:boolean" default="false" />
    <xs:attribute name="PopulateQueryCommand" type="CommandType" />
    <xs:attribute name="PopulateOnlyOnce" type="xs:boolean" default="false" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitle" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="ModernImage" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="GalleryType">
    <xs:sequence>
      <xs:element name="GalleryButton" type="GalleryButtonType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandRevert" type="CommandType" />
    <xs:attribute name="ElementDimensions" type="ElementDimensionsType" use="required" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Width" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="GalleryButtonType">
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandRevert" type="CommandType" />
    <xs:attribute name="CommandType" type="CommandTypeType" />
    <xs:attribute name="CommandValueId" type="xs:string" />
    <xs:attribute name="ElementDimensions" type="ElementDimensionsType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Image" type="ImageUrlType" />
    <xs:attribute name="ImageClass" type="ImageClassType" />
    <xs:attribute name="ImageLeft" type="ImagePositionType" />
    <xs:attribute name="ImageTop" type="ImagePositionType" />
    <xs:attribute name="InnerHTML" type="HTMLType" />
    <xs:attribute name="MenuItemId" type="MenuItemIdType" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="GroupTemplateType">
    <xs:sequence>
      <xs:element name="Layout" type="LayoutType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="ClassName" type="ClassNameType" />
  </xs:complexType>

  <xs:complexType name="GroupsType">
    <xs:sequence>
      <xs:element name="Group" type="GroupType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
  </xs:complexType>

  <xs:complexType name="GroupType">
    <xs:all>
      <xs:element name="Controls" type="ControlsType" minOccurs="1" maxOccurs="1" />
    </xs:all>
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="Description" type="DescriptionType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Image32by32Popup" type="ImageUrlType" />
    <xs:attribute name="Image32by32PopupClass" type="ImageClassType" />
    <xs:attribute name="Image32by32PopupLeft" type="ImagePositionType" />
    <xs:attribute name="Image32by32PopupTop" type="ImagePositionType" />
    <xs:attribute name="PopupWidth" type="PixelLengthType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Template" type="TemplateType" />
    <xs:attribute name="Title" type="TitleType" />
  </xs:complexType>

  <xs:complexType name="InsertTableType">
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandType" type="CommandTypeType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandRevert" type="CommandType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="MenuSectionInitialTitle" type="xs:string" />
    <xs:attribute name="MenuSectionTitle" type="xs:string" />
    <xs:attribute name="Sequence" type="SequenceType" />
  </xs:complexType>

  <xs:complexType name="JewelType">
    <xs:sequence>
      <xs:element name="Menu" type="MenuType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="CacheMenuVersions" type="xs:boolean" default="false" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandMenuClose" type="CommandType" />
    <xs:attribute name="CommandMenuOpen" type="CommandType" />
    <xs:attribute name="Height" type="xs:integer" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="ImageDownArrow" type="ImageUrlType" />
    <xs:attribute name="ImageDownArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageDownArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageDownArrowTop" type="ImagePositionType" />
    <xs:attribute name="ImageSideArrow" type="ImageUrlType" />
    <xs:attribute name="ImageSideArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageSideArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageSideArrowTop" type="ImagePositionType" />
    <xs:attribute name="ImageUpArrow" type="ImageUrlType" />
    <xs:attribute name="ImageUpArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageUpArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageUpArrowTop" type="ImagePositionType" />
    <xs:attribute name="Image" type="ImageUrlType" />
    <xs:attribute name="ImageClass" type="ImageClassType" />
    <xs:attribute name="ImageLeft" type="ImagePositionType" />
    <xs:attribute name="ImageTop" type="ImagePositionType" />
    <xs:attribute name="ImageHover" type="ImageUrlType" />
    <xs:attribute name="ImageHoverClass" type="ImageClassType" />
    <xs:attribute name="ImageHoverLeft" type="ImagePositionType" />
    <xs:attribute name="ImageHoverTop" type="ImagePositionType" />
    <xs:attribute name="ImageDown" type="ImageUrlType" />
    <xs:attribute name="ImageDownClass" type="ImageClassType" />
    <xs:attribute name="ImageDownLeft" type="ImagePositionType" />
    <xs:attribute name="ImageDownTop" type="ImagePositionType" />
    <xs:attribute name="ImageLeftSide" type="ImageUrlType" />
    <xs:attribute name="ImageLeftSideClass" type="ImageClassType" />
    <xs:attribute name="ImageLeftSideLeft" type="ImagePositionType" />
    <xs:attribute name="ImageLeftSideTop" type="ImagePositionType" />
    <xs:attribute name="ImageLeftSideWidth" type="xs:integer" />
    <xs:attribute name="ImageLeftSideHover" type="ImageUrlType" />
    <xs:attribute name="ImageLeftSideHoverClass" type="ImageClassType" />
    <xs:attribute name="ImageLeftSideHoverLeft" type="ImagePositionType" />
    <xs:attribute name="ImageLeftSideHoverTop" type="ImagePositionType" />
    <xs:attribute name="ImageLeftSideDown" type="ImageUrlType" />
    <xs:attribute name="ImageLeftSideDownClass" type="ImageClassType" />
    <xs:attribute name="ImageLeftSideDownLeft" type="ImagePositionType" />
    <xs:attribute name="ImageLeftSideDownTop" type="ImagePositionType" />
    <xs:attribute name="ImageRightSide" type="ImageUrlType" />
    <xs:attribute name="ImageRightSideClass" type="ImageClassType" />
    <xs:attribute name="ImageRightSideLeft" type="ImagePositionType" />
    <xs:attribute name="ImageRightSideTop" type="ImagePositionType" />
    <xs:attribute name="ImageRightSideWidth" type="xs:integer" />
    <xs:attribute name="ImageRightSideHover" type="ImageUrlType" />
    <xs:attribute name="ImageRightSideHoverClass" type="ImageClassType" />
    <xs:attribute name="ImageRightSideHoverLeft" type="ImagePositionType" />
    <xs:attribute name="ImageRightSideHoverTop" type="ImagePositionType" />
    <xs:attribute name="ImageRightSideDown" type="ImageUrlType" />
    <xs:attribute name="ImageRightSideDownClass" type="ImageClassType" />
    <xs:attribute name="ImageRightSideDownLeft" type="ImagePositionType" />
    <xs:attribute name="ImageRightSideDownTop" type="ImagePositionType" />
    <xs:attribute name="LabelCss" type="LabelCssType" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="PopulateDynamically" type="xs:boolean" default="false" />
    <xs:attribute name="PopulateQueryCommand" type="CommandType" />
    <xs:attribute name="PopulateOnlyOnce" type="xs:boolean" default="false" />
  </xs:complexType>

  <xs:complexType name="LabelType">
    <xs:attribute name="ForId" type="xs:string" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="Image16by16" type="ImageUrlType" />
    <xs:attribute name="Image16by16Class" type="ImageClassType" />
    <xs:attribute name="Image16by16Left" type="ImagePositionType" />
    <xs:attribute name="Image16by16Top" type="ImagePositionType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="ModernImage" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="LayoutType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Section" type="SectionType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="OverflowSection" type="OverflowSectionType" minOccurs="0" maxOccurs="unbounded" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Title" type="TitleType" use="required" />
    <xs:attribute name="LayoutTitle" type="TitleType" />
  </xs:complexType>

  <xs:complexType name="MaxSizeType">
    <xs:attribute name="GroupId" type="IdType" use="required" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Size" type="SizeType" use="required" />
  </xs:complexType>

  <xs:complexType name="MenuType">
    <xs:sequence>
      <xs:element name="MenuSection" type="MenuSectionType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="MaxWidth" type="PixelLengthType" />
  </xs:complexType>

  <xs:complexType name="MenuSectionType">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element name="Controls" type="MenuSectionControlsType" minOccurs="1" maxOccurs="1" />
      <xs:element name="Gallery" type="GalleryType" minOccurs="1" maxOccurs="1" />
    </xs:choice>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Title" type="TitleType"/>
    <xs:attribute name="Scrollable" type="xs:boolean" default="false"/>
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="MaxHeight" type="PixelLengthType" />
    <xs:attribute name="DisplayMode" type="DisplayModeType" default="Menu" />
  </xs:complexType>

  <xs:complexType name="MenuSectionControlsType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ToggleButton" type="ToggleButtonType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Button" type="ButtonType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ColorPicker" type="ColorPickerType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="FlyoutAnchor" type="FlyoutAnchorType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="InsertTable" type="InsertTableType" minOccurs="0" maxOccurs="unbounded" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
  </xs:complexType>

  <xs:complexType name="MRUSplitButtonType">
    <xs:sequence>
      <xs:element name="Menu" type="MenuType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="CacheMenuVersions" type="xs:boolean" default="false" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandMenuOpen" type="CommandType" />
    <xs:attribute name="CommandMenuClose" type="CommandType" />
    <xs:attribute name="CommandPreview" type="CommandType" />
    <xs:attribute name="CommandPreviewRevert" type="CommandType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="InitialItem" type="MenuItemIdType" use="required" />
    <xs:attribute name="MenuAlt" type="AltType" />
    <xs:attribute name="MenuCommand" type="CommandType" />
    <xs:attribute name="PopulateDynamically" type="xs:boolean" default="false" />
    <xs:attribute name="PopulateQueryCommand" type="CommandType" />
    <xs:attribute name="PopulateOnlyOnce" type="xs:boolean" default="false" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitle" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="LowScaleWarningType">
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Message" type="xs:string" />
    <xs:attribute name="Sequence" type="SequenceType" />
  </xs:complexType>

  <xs:complexType name="OverflowAreaType">
    <xs:attribute name="DisplayMode" type="DisplayModeType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
  </xs:complexType>

  <xs:complexType name="OverflowSectionType">
    <xs:attribute name="DisplayMode" type="DisplayModeType" />
    <xs:attribute name="DividerAfter" type="xs:boolean" />
    <xs:attribute name="DividerBefore" type="xs:boolean" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="Type" type="SectionTypeType" />
  </xs:complexType>

  <xs:complexType name="QATType">
    <xs:sequence>
      <xs:element name="Controls" type="ControlsType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="ImageDownArrow" type="ImageUrlType" />
    <xs:attribute name="ImageDownArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageDownArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageDownArrowTop" type="ImagePositionType" />
    <xs:attribute name="ImageSideArrow" type="ImageUrlType" />
    <xs:attribute name="ImageSideArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageSideArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageSideArrowTop" type="ImagePositionType" />
    <xs:attribute name="ImageUpArrow" type="ImageUrlType" />
    <xs:attribute name="ImageUpArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageUpArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageUpArrowTop" type="ImagePositionType" />
  </xs:complexType>

  <xs:complexType name="RibbonTemplatesType">
    <xs:sequence>
      <xs:element name="GroupTemplate" type="GroupTemplateType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
  </xs:complexType>

  <xs:complexType name="RibbonType">
    <xs:sequence>
      <xs:element name="Tabs" type="TabsType" minOccurs="1" maxOccurs="1" />
      <xs:element name="ContextualTabs" type="ContextualTabsType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Image32by32GroupPopupDefault" type="ImageUrlType" />
    <xs:attribute name="Image32by32GroupPopupDefaultClass" type="ImageClassType" />
    <xs:attribute name="Image32by32GroupPopupDefaultLeft" type="ImagePositionType" />
    <xs:attribute name="Image32by32GroupPopupDefaultTop" type="ImagePositionType" />
    <xs:attribute name="ImageDownArrow" type="ImageUrlType" />
    <xs:attribute name="ImageDownArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageDownArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageDownArrowTop" type="ImagePositionType" />
    <xs:attribute name="ImageSideArrow" type="ImageUrlType" />
    <xs:attribute name="ImageSideArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageSideArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageSideArrowTop" type="ImagePositionType" />
    <xs:attribute name="ImageUpArrow" type="ImageUrlType" />
    <xs:attribute name="ImageUpArrowClass" type="ImageClassType" />
    <xs:attribute name="ImageUpArrowLeft" type="ImagePositionType" />
    <xs:attribute name="ImageUpArrowTop" type="ImagePositionType" />
    <xs:attribute name="RootEventCommand" type="CommandType" />
    <xs:attribute name="TabSwitchCommand" type="CommandType" />
    <xs:attribute name="ScaleCommand" type="CommandType" />
    <xs:attribute name="TextDirection" type="TextDirectionType" />
    <xs:attribute name="ToolTipFooterText" type="xs:string" />
    <xs:attribute name="ToolTipFooterImage16by16" type="ImageUrlType" />
    <xs:attribute name="ToolTipFooterImage16by16Class" type="ImageClassType" />
    <xs:attribute name="ToolTipFooterImage16by16Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipFooterImage16by16Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipDisabledCommandImage16by16" type="ImageUrlType" />
    <xs:attribute name="ToolTipDisabledCommandImage16by16Class" type="ImageClassType" />
    <xs:attribute name="ToolTipDisabledCommandImage16by16Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipDisabledCommandImage16by16Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipDisabledCommandDescription" type="xs:string" />    
    <xs:attribute name="ToolTipDisabledCommandTitle" type="xs:string" />
    <xs:attribute name="ToolTipDisabledCommandHelpKey" type="xs:string" />
    <xs:attribute name="ToolTipHelpCommand" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitlePrefix" type="xs:string" />      
    <xs:attribute name="ShortcutKeyJumpToRibbon_Ctrl" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToRibbon_Alt" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToRibbon_Shift" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToRibbon_AccessKey" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToFirstControl_Ctrl" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToFirstControl_Alt" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToFirstControl_Shift" type="xs:string" />
    <xs:attribute name="ShortcutKeyJumpToFirstControl_AccessKey" type="xs:string" />
    <xs:attribute name="ATContextualTabText" type="xs:string" />
    <xs:attribute name="ATTabPositionText" type="xs:string" />
    <xs:attribute name="NavigationHelpText" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="RowType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ControlRef" type="ControlRefType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Strip" type="StripType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="OverflowArea" type="OverflowAreaType" minOccurs="0" maxOccurs="unbounded" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScaleType">
    <xs:attribute name="GroupId" type="IdType" use="required" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Size" type="SizeType" use="required" />
    <xs:attribute name="PopupSize" type="SizeType" />
  </xs:complexType>

  <xs:complexType name="ScalingType">
    <xs:sequence>
      <xs:element name="MaxSize" type="MaxSizeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Scale" type="ScaleType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LowScaleWarning" type="LowScaleWarningType" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
  </xs:complexType>

  <xs:complexType name="SectionType">
    <xs:sequence>
      <xs:element name="Row" type="RowType" minOccurs="0" maxOccurs="3" />
    </xs:sequence>
    <xs:attribute name="Type" type="SectionTypeType" />
    <xs:attribute name="Alignment" type="SectionAlignmentType" />
  </xs:complexType>

  <xs:complexType name="SpinnerType">
    <xs:sequence>
      <xs:element name="Unit" type="UnitType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="AccelerationInterval" type="xs:integer" />
    <xs:attribute name="AltDownArrow" type="AltType" />
    <xs:attribute name="AltUpArrow" type="AltType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="DefaultUnit" type="UnitNameType" />
    <xs:attribute name="DefaultValue" type="ValueType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="ImeEnabled" type="xs:boolean" />
    <xs:attribute name="MultiplierInterval" type="xs:integer" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="SplitButtonType">
    <xs:sequence>
      <xs:element name="Menu" type="MenuType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="CacheMenuVersions" type="xs:boolean" default="false" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandMenuOpen" type="CommandType" />
    <xs:attribute name="CommandMenuClose" type="CommandType" />
    <xs:attribute name="CommandType" type="CommandTypeType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Image32by32" type="ImageUrlType" />
    <xs:attribute name="Image32by32Class" type="ImageClassType" />
    <xs:attribute name="Image32by32Left" type="ImagePositionType" />
    <xs:attribute name="Image32by32Top" type="ImagePositionType" />
    <xs:attribute name="Image16by16" type="ImageUrlType" />
    <xs:attribute name="Image16by16Class" type="ImageClassType" />
    <xs:attribute name="Image16by16Left" type="ImagePositionType" />
    <xs:attribute name="Image16by16Top" type="ImagePositionType" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="MenuAlt" type="AltType" />
    <xs:attribute name="MenuCommand" type="CommandType" />
    <xs:attribute name="PopulateDynamically" type="xs:boolean" default="false" />
    <xs:attribute name="PopulateQueryCommand" type="CommandType" />
    <xs:attribute name="PopulateOnlyOnce" type="xs:boolean" default="false" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipSelectedItemTitle" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="ModernImage" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="StripType">
    <xs:sequence>
      <xs:element name="ControlRef" type="ControlRefType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TabType">
    <xs:sequence>
      <xs:element name="Scaling" type="ScalingType" minOccurs="1" maxOccurs="1" />
      <xs:element name="Groups" type="GroupsType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CssClass" type="ClassNameType" />
    <xs:attribute name="Description" type="DescriptionType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Title" type="TitleType" />
  </xs:complexType>

  <xs:complexType name="TabsType">
    <xs:sequence>
      <xs:element name="Tab" type="TabType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="IdType" use="required" />
  </xs:complexType>

  <xs:complexType name="TemplatesType">
    <xs:all>
      <xs:element name="RibbonTemplates" type="RibbonTemplatesType" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TextBoxType">
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="ImeEnabled" type="xs:boolean" />
    <xs:attribute name="MaxLength" type="xs:integer" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="ShowAsLabel" type="xs:boolean" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="Width" type="PixelLengthType" />
  </xs:complexType>

  <xs:complexType name="ToggleButtonType">
    <xs:attribute name="Alt" type="AltType" />
    <xs:attribute name="Command" type="CommandType" />
    <xs:attribute name="CommandValueId" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Id" type="IdType" use="required" />
    <xs:attribute name="LabelCss" type="LabelCssType" />
    <xs:attribute name="LabelText" type="LabelTextType" />
    <xs:attribute name="Image32by32" type="ImageUrlType" />
    <xs:attribute name="Image32by32Class" type="ImageClassType" />
    <xs:attribute name="Image32by32Left" type="ImagePositionType" />
    <xs:attribute name="Image32by32Top" type="ImagePositionType" />
    <xs:attribute name="Image16by16" type="ImageUrlType" />
    <xs:attribute name="Image16by16Class" type="ImageClassType" />
    <xs:attribute name="Image16by16Left" type="ImagePositionType" />
    <xs:attribute name="Image16by16Top" type="ImagePositionType" />
    <xs:attribute name="MenuItemId" type="MenuItemIdType" />
    <xs:attribute name="QueryCommand" type="CommandType" />
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="TemplateAlias" type="TemplateAliasType" />
    <xs:attribute name="ToolTipImage32by32" type="ImageUrlType" />
    <xs:attribute name="ToolTipImage32by32Class" type="ImageClassType" />
    <xs:attribute name="ToolTipImage32by32Left" type="ImagePositionType" />
    <xs:attribute name="ToolTipImage32by32Top" type="ImagePositionType" />
    <xs:attribute name="ToolTipTitle" type="xs:string" />
    <xs:attribute name="ToolTipDescription" type="xs:string" />
    <xs:attribute name="ToolTipHelpKeyWord" type="xs:string" />
    <xs:attribute name="ToolTipShortcutKey" type="xs:string" />
    <xs:attribute name="ModernImage" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="UnitType">
    <xs:sequence>
      <xs:element name="UnitAbbreviation" type="UnitAbbreviationType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Name" type="UnitNameType" />
    <xs:attribute name="MinimumValue" type="ValueType" />
    <xs:attribute name="MaximumValue" type="ValueType" />
    <xs:attribute name="DecimalDigits" type="xs:integer" />
    <xs:attribute name="Interval" type="xs:double" />
  </xs:complexType>

  <xs:complexType name="UnitAbbreviationType">
    <xs:attribute name="Sequence" type="SequenceType" />
    <xs:attribute name="Value" type="UnitNameType" />
  </xs:complexType>
</xs:schema>
