src/Dataverse/Tasks/ValidationSchema/Solution.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ImportExportXml">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SolutionManifest">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="UniqueName"/>
                            <xs:element name="LocalizedNames">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LocalizedName" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="description" use="optional"/>
                                                        <xs:attribute type="xs:nonNegativeInteger" name="languagecode" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Descriptions"/>
                            <xs:element type="xs:string" name="Version"/>
                            <xs:element type="xs:byte" name="Managed"/>
                            <xs:element name="Publisher">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="UniqueName"/>
                                        <xs:element name="LocalizedNames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="LocalizedName" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                                                    <xs:attribute type="xs:nonNegativeInteger" name="languagecode" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Descriptions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Description" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                                                    <xs:attribute type="xs:nonNegativeInteger" name="languagecode" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="EMailAddress" />
                                        <xs:element type="xs:string" name="SupportingWebsiteUrl" />
                                        <xs:element type="xs:string" name="CustomizationPrefix"/>
                                        <xs:element type="xs:int" name="CustomizationOptionValuePrefix"/>
                                        <xs:element name="Addresses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Address" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:byte" name="AddressNumber" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:byte" name="AddressTypeCode" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="City" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="County" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Country" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Fax" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="FreightTermsCode" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="ImportSequenceNumber" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Latitude" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Line1" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Line2" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Line3" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Longitude" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Name" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="PostalCode" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="PostOfficeBox" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="PrimaryContactName" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:byte" name="ShippingMethodCode"  minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="StateOrProvince" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Telephone1" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Telephone2" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="Telephone3" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="TimeZoneRuleVersionNumber" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="UPSZone" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="UTCOffset" minOccurs="0" maxOccurs="1" />
                                                                <xs:element type="xs:string" name="UTCConversionTimeZoneCode" minOccurs="0" maxOccurs="1" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RootComponents">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RootComponent" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:int" name="type" use="optional"/>
                                                        <xs:attribute type="xs:string" name="schemaName" use="optional"/>
                                                        <xs:attribute type="xs:byte" name="behavior" use="optional"/>
                                                        <xs:attribute type="xs:string" name="id" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MissingDependencies" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MissingDependency" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Required">
                                                        <xs:complexType>
                                                            <xs:attribute type="xs:int" name="type" use="required"/>
                                                            <xs:attribute type="xs:string" name="schemaName" use="required"/>
                                                            <xs:attribute type="xs:string" name="displayName" use="required"/>
                                                            <xs:attribute type="xs:string" name="solution" use="optional"/>
                                                            <xs:attribute type="xs:string" name="parentSchemaName" use="optional"/>
                                                            <xs:attribute type="xs:string" name="parentDisplayName" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Dependent">
                                                        <xs:complexType>
                                                            <xs:attribute type="xs:int" name="type" use="optional"/>
                                                            <xs:attribute type="xs:string" name="schemaName" use="optional"/>
                                                            <xs:attribute type="xs:string" name="displayName" use="optional"/>
                                                            <xs:attribute type="xs:string" name="id" use="optional"/>
                                                            <xs:attribute type="xs:string" name="parentDisplayName" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="version"/>
            <xs:attribute type="xs:float" name="SolutionPackageVersion"/>
            <xs:attribute type="xs:nonNegativeInteger" name="languagecode"/>
            <xs:attribute type="xs:string" name="generatedBy"/>
        </xs:complexType>
    </xs:element>
</xs:schema>